


<div class="mx-auto" style="margin-top: 50px;">

<% if @posts.size < 1 %>

    <div class="card mb-4 mx-auto" style="width: 70%;">
        <div class="card-header">
            <h2>Nenhum post foi feito ainda</h2>
        </div>

        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <% if user_signed_in? %>
                    <p>Faça um post na aba Novo post ou no botão abaixo se estiver logado</p>
                <% else %>
                    <p>Crie uma conta e faça o primeiro post</p>
                <% end %>
                
                <footer class="blockquote-footer">
                    <cite title="Source Title">Mainô Dev</cite>
                    <% if user_signed_in?%>
                        <%= link_to "Novo Post", new_post_path, 
                            class: "btn btn-success float-right"
                        %>
                    <%end%>
                </footer>

            </blockquote>
        </div>
    </div>

    
<% else %>

    <%= form_tag posts_path, method: :get, class: "form-group mx-auto", style: "width: 70%"  do %>
        <%= select_tag :tag_id, options_for_select(Tag.pluck(:name, :id), params[:tag_id]), multiple: true, class: "form-control", prompt: "Selecione as tags..." %>
        <%= submit_tag "Filtrar", class: "btn btn-primary" %>
    <% end %>

    <% @posts.each do |post| %>
            <div class="card mb-4 mx-auto" style="width: 70%;">
                <%=link_to post, style: "text-decoration: none; color: inherit;" do %>
                    <div class="card-header">
                        <h2><%=post.title%></h2>
                    </div>
                <%end%>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p><%=post.body%></p>
                        <footer class="blockquote-footer">
                            <cite title="Source Title"><%=post.getAuthor%></cite>

                            <% if user_signed_in? and post.author?(current_user) %>
                                <%= link_to "Excluir", post, 
                                    class: "btn btn-danger float-right",
                                    data: { 
                                        turbo_method: :delete, 
                                        turbo_confirm: "Tem certeza que deseja deletar esse Post?" 
                                    } 
                                %>

                                <%= link_to "Editar", edit_post_path(post), 
                                    class: "btn btn-warning float-right"
                                %>
                            <%end%>
                        </footer>
                         
                        <%= render "comments/comment", post: post%>
                        <%= render "comments/form", post: post%>

                    </blockquote>
                </div>
            </div>

    <% end %>

<% end %>


</div>


<div class="apple_pagination">
  <%= will_paginate @posts, previous_label: "«", next_label: "»", inner_window: 1, outer_window: 1, :container => false %>
</div>
